html,
body {
  height: 100%;
  margin: 0;
}

// Depending on theming - We set background slightly different.
@media (prefers-color-scheme: dark) {
  nav.container {
    background: #252525;
    // TODO: Remove , only for debug - background: #d3d3d3;
  }
}

@media (prefers-color-scheme: light) {
  nav.container {
    background: #d3d3d3;
  }
}

body {
  display: flex;
  background: linear-gradient(45deg, #D42274, #2254D4, #28d73f);
  flex-direction: row;
  font-size: 16px;
  background-size: 600% 600%;
  animation: gradientAnimation 30s ease infinite;
}

div.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in all;
}

nav.container {
  position: sticky;
  top: 0;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  justify-content: center;
  box-shadow: inset -13px 0px 23px -5px rgba(0, 0, 0, 0.52);
  width: clamp(2rem, 2.5vw, 3rem);
  transition: 250ms ease-in all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > .target {
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    transition: 250ms ease-in all;

    &:hover {
      filter: opacity(25%);
    }
  }

  &:hover {
    width: clamp(7rem, 2.5vw, 4rem);
  }
}

// Phones and Phablets.
@media screen and (max-width: 999px) {

  body {
    display: flex;
    flex-direction: column-reverse;
    font-size: 48px;
    height: 100vh;
  }

  div.container {
    flex-direction: row;
  }

  nav.container {
    position: sticky;
    bottom: 0;
    width: 100vw;
    display: flex;
    gap: 6rem;
    box-shadow: inset 4px 11px 9px -7px rgba(0, 0, 0, 0.59);
    padding: 1rem 0 1rem 0;

    &:hover {
      width: 100vw;
    }
  }
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
